In [2]:
!pip install pandas sqlalchemy
!pip install mysql-connector-python

import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [9]:
Configure db connection
db_endpoint = 'nflstats.cnfxqtkxsnhr.us-east-2.rds.amazonaws.com'
db_username = '****'
db_password = '****'
db_name = 'nfl_stats'
db_port = '3306'

In [10]:
#Create db URL
db_url = f"mysql+mysqlconnector://{db_username}:{db_password}@{db_endpoint}:{db_port}/{db_name}"

In [11]:
#Read in table
engine = create_engine(db_url)
table_name = 'nfl_elo'  

df = pd.read_sql(table_name, con=engine)

In [19]:
df.sort_values(by='season', ascending=True)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
0,1920-09-26,1920,0,,RII,STP,1503.947,1300.000,0.824651,0.175349,...,,,,,,48,0,,,
66,1920-11-25,1920,0,,RCH,ATN,1484.651,1328.340,0.781421,0.218579,...,,,,,,3,14,,,
65,1920-11-21,1920,0,,CTI,TLM,1433.056,1278.649,0.779544,0.220456,...,,,,,,14,0,,,
64,1920-11-21,1920,0,,CHI,HAM,1516.489,1418.534,0.718704,0.281296,...,,,,,,28,7,,,
63,1920-11-21,1920,0,,AKR,DAY,1582.650,1574.232,0.604112,0.395888,...,,,,,,13,0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,1966-09-18,1966,0,,PIT,DET,1356.780,1519.485,0.362984,0.637016,...,-126.68362718484,60.500708071178096,35.57605538899499,1399.79515883,1494.94175538,17,3,22,,
3842,1966-09-18,1966,0,,BUF,MIA,1542.144,1275.398,0.870984,0.129016,...,-171.13019479049998,65.56095808868099,-15.040321859477642,1555.27458178,1274.05653609,58,24,1,,
3841,1966-09-18,1966,0,,OAK,KC,1493.481,1567.524,0.486989,0.513011,...,182.05913285999998,59.742066697902594,155.092370827383,1464.87084589,1588.48557567,10,32,61,,
3859,1966-10-02,1966,0,,NYG,CLE,1409.763,1544.171,0.401422,0.598578,...,163.01715788622,84.800462055738,116.42151535449598,1388.11768266,1566.92031632,7,28,36,,
3900,1966-10-23,1966,0,,WSH,ARI,1447.001,1541.192,0.458089,0.541911,...,60.304022049809994,122.19961800215403,89.91348640883399,1463.29347216,1523.26948002,26,20,46,,

In [4]:
df.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
0,1920-09-26,1920,0,NaN,RII,STP,1503.947,1300.000,0.824651,0.175349,...,NaN,NaN,NaN,NaN,NaN,48,0,NaN,NaN,NaN
1,1920-10-03,1920,0,NaN,AKR,WHE,1503.420,1300.000,0.824212,0.175788,...,NaN,NaN,NaN,NaN,NaN,43,0,NaN,NaN,NaN
2,1920-10-03,1920,0,NaN,BFF,WBU,1478.004,1300.000,0.802000,0.198000,...,NaN,NaN,NaN,NaN,NaN,32,6,NaN,NaN,NaN
3,1920-10-03,1920,0,NaN,DAY,COL,1493.002,1504.908,0.575819,0.424181,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
4,1920-10-03,1920,0,NaN,RII,MUN,1516.108,1478.004,0.644171,0.355829,...,NaN,NaN,NaN,NaN,NaN,45,0,NaN,NaN,NaN

In [53]:
df.describe()

,season,neutral,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,qbelo1_pre,qbelo2_pre,...,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating,numeric_date
count,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,15217.000000,15217.000000,...,15217.000000,15217.000000,15217.000000,15217.000000,17379.000000,17379.000000,15217.000000,17379.000000,17379.000000,1.737900e+04
mean,1984.859601,0.005869,1503.126581,1499.466791,0.584969,0.415031,1502.835259,1499.758115,1504.285087,1502.863032,...,98.351491,96.190679,1504.270046,1502.878072,21.680419,18.833938,47.899717,1.627079,1.571840,1.985003e+07
std,26.323078,0.076387,104.831615,104.152876,0.174981,0.174981,107.363540,106.340927,99.897968,98.551383,...,59.033929,58.388792,102.323865,100.793848,11.216611,10.791255,29.328586,10.488177,9.786338,2.635028e+05
min,1920.000000,0.000000,1119.595000,1156.551000,0.070953,0.029484,1119.595000,1153.902000,1149.699743,1152.474651,...,-46.329533,-53.778917,1164.327676,1149.699743,0.000000,0.000000,0.000000,0.000000,0.000000,1.920093e+07
25%,1968.000000,0.000000,1430.257000,1426.660962,0.461360,0.280741,1427.690984,1425.084500,1434.575894,1434.791401,...,55.101409,53.417601,1432.897294,1432.485754,14.000000,10.000000,21.000000,0.000000,0.000000,1.968122e+07
50%,1989.000000,0.000000,1504.837000,1500.855000,0.596872,0.403128,1504.585000,1500.921000,1505.757028,1504.378560,...,92.535382,90.804756,1505.081495,1504.980557,21.000000,18.000000,48.000000,0.000000,0.000000,1.989112e+07
75%,2006.000000,0.000000,1578.274381,1576.083050,0.719259,0.538640,1580.895000,1577.100500,1574.540239,1574.626367,...,134.817560,132.722242,1578.366404,1574.870184,28.000000,26.000000,73.000000,0.000000,0.000000,2.006122e+07
max,2022.000000,1.000000,1839.663000,1849.484000,0.970516,0.929047,1849.484000,1831.462000,1806.390160,1814.366226,...,327.716545,329.562716,1814.366226,1806.223590,72.000000,73.000000,100.000000,100.000000,100.000000,2.023021e+07

In [6]:
df.sort_values(by='season',ascending=False)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
17378,2023-02-12,2022,1,s,PHI,KC,1657.913193,1746.521889,0.375176,0.624824,...,411.098145,268.147365,293.269758,1633.804536,1720.367465,35,38,100.0,100.0,100.0
17191,2022-10-23,2022,0,NaN,CAR,TB,1364.425109,1608.573160,0.262840,0.737160,...,186.483587,35.388872,222.971696,1421.733700,1536.201791,21,3,18.0,21.0,20.0
17185,2022-10-16,2022,0,NaN,LAR,CAR,1546.747102,1374.357879,0.796818,0.203182,...,3.717991,156.678539,15.749825,1526.332097,1369.323202,24,10,7.0,16.0,12.0
17186,2022-10-16,2022,0,NaN,KC,BUF,1673.224269,1680.550396,0.582245,0.417755,...,313.857660,258.448699,302.911863,1621.944042,1686.125661,20,24,99.0,99.0,99.0
17187,2022-10-16,2022,0,NaN,PHI,DAL,1589.932830,1603.510540,0.573467,0.426533,...,-35.984701,193.733540,42.652773,1625.344490,1621.860231,26,17,81.0,93.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1920-11-21,1920,0,NaN,AKR,DAY,1582.650000,1574.232000,0.604112,0.395888,...,NaN,NaN,NaN,NaN,NaN,13,0,NaN,NaN,NaN
64,1920-11-21,1920,0,NaN,CHI,HAM,1516.489000,1418.534000,0.718704,0.281296,...,NaN,NaN,NaN,NaN,NaN,28,7,NaN,NaN,NaN
65,1920-11-21,1920,0,NaN,CTI,TLM,1433.056000,1278.649000,0.779544,0.220456,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
66,1920-11-25,1920,0,NaN,RCH,ATN,1484.651000,1328.340000,0.781421,0.218579,...,NaN,NaN,NaN,NaN,NaN,3,14,NaN,NaN,NaN
0,1920-09-26,1920,0,NaN,RII,STP,1503.947000,1300.000000,0.824651,0.175349,...,NaN,NaN,NaN,NaN,NaN,48,0,NaN,NaN,NaN

In [4]:
 trimmed_df = df[df['season'] >= 2012]
# start_season = 2011
# end_season = 2021
# trimmed_df = df[(df['season'] >= start_season) & (df['season'] <= end_season)]

In [6]:
trimmed_df

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
14138,2011-09-08,2011,0,NaN,GB,NO,1661.483000,1562.051000,0.720420,0.279580,...,371.617931,218.154347,230.056137,1657.148002,1555.881727,42,34,93.0,NaN,NaN
14139,2011-09-11,2011,0,NaN,JAX,TEN,1474.460000,1471.892000,0.596031,0.403969,...,156.593527,72.567675,99.642937,1456.744102,1440.370521,16,14,19.0,NaN,NaN
14140,2011-09-11,2011,0,NaN,CHI,ATL,1555.479000,1581.397000,0.556007,0.443993,...,67.469188,99.231332,133.153668,1558.454855,1547.836708,30,12,74.0,NaN,NaN
14141,2011-09-11,2011,0,NaN,WSH,NYG,1436.016000,1538.007000,0.446966,0.553034,...,50.423742,93.326050,130.451209,1460.543814,1515.707558,28,14,38.0,NaN,NaN
14142,2011-09-11,2011,0,NaN,ARI,CAR,1392.072000,1390.369000,0.594831,0.405169,...,292.932217,110.230949,130.904644,1449.287714,1348.601993,28,21,11.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17090,2022-01-23,2021,0,d,TB,LAR,1681.797158,1632.341105,0.659005,0.340995,...,379.027146,238.112249,199.786107,1629.446888,1635.265484,27,30,96.0,100.0,98.0
17091,2022-01-23,2021,0,d,KC,BUF,1699.470145,1683.332367,0.614689,0.385311,...,434.101420,308.598809,291.477231,1700.324756,1644.036577,42,36,100.0,100.0,100.0
17092,2022-01-30,2021,0,c,KC,CIN,1713.932369,1569.498961,0.769519,0.230481,...,153.972640,291.207245,186.971396,1674.943733,1585.098917,24,27,98.0,100.0,99.0
17093,2022-01-30,2021,0,c,LAR,SF,1651.615346,1621.465562,0.633608,0.366392,...,197.148060,204.657956,125.373817,1644.929010,1621.968494,20,17,96.0,100.0,98.0
17094,2022-02-13,2021,1,s,CIN,LAR,1593.079331,1661.352751,0.402992,0.597008,...,160.915302,176.868952,200.283690,1576.868287,1653.159640,20,23,95.0,100.0,98.0

In [22]:
# Get a count of NaN values in each column
nan_count = trimmed_df.isna().sum()
nan_count

date              0
season            0
neutral           0
playoff           0
team1             0
team2             0
elo1_pre          0
elo2_pre          0
elo_prob1         0
elo_prob2         0
elo1_post         0
elo2_post         0
qbelo1_pre        0
qbelo2_pre        0
qb1               0
qb2               0
qb1_value_pre     0
qb2_value_pre     0
qb1_adj           0
qb2_adj           0
qbelo_prob1       0
qbelo_prob2       0
qb1_game_value    0
qb2_game_value    0
qb1_value_post    0
qb2_value_post    0
qbelo1_post       0
qbelo2_post       0
score1            0
score2            0
quality           0
importance        0
total_rating      0
dtype: int64

In [10]:
trimmed_df['playoff'].unique()

array([nan, 'w', 'd', 'c', 's'], dtype=object)

In [11]:
trimmed_df['importance'].unique()

array([ nan,  46.,  35.,  56.,  70.,  64.,  15.,  54.,  43.,  55.,  87.,
        57.,  71.,  51.,  63.,  45.,  75.,  61.,  74.,  42.,  49.,  17.,
        78.,  31.,  22.,  26.,  44.,  18.,  69.,  93.,  24.,  52.,  85.,
        16.,  65.,  86.,   3.,  68.,  30.,  23.,  67.,  33.,  81.,  48.,
        82.,  10.,  21.,  77.,  62.,  59.,  11.,  66.,  50.,  14.,  76.,
        47.,   2.,  20.,  90.,  79.,   9.,  84.,  29.,   8.,  28.,  19.,
        27.,  91.,   1.,  37.,  36.,  94.,  58.,  95.,  92.,  83.,  88.,
        96.,   4.,  13.,   5.,  80.,  98.,   0.,  12.,  32.,  60.,  99.,
        40.,  39., 100.,   6.,  41.,  53.,  38.,  73.,  34.,  25.,   7.,
        97.,  72.,  89.])

In [12]:
trimmed_df['total_rating'].unique()

array([ nan,  66.,  24.,  56.,  67.,  61.,   8.,  44.,  33.,  38.,  71.,
        46.,  74.,  76.,  53.,  62.,  25.,  65.,  64.,  81.,  14.,  30.,
        34.,  39.,  58.,  86.,  26.,  12.,  21.,  47.,  15.,  42.,  28.,
        68.,  69.,  70.,  18.,  91.,  73.,  10.,   7.,  49.,  19.,  32.,
        59.,   9.,  78.,  80.,  43.,  77.,  85.,  48.,  45.,  11.,  52.,
        83.,  63.,   6.,  90.,  57.,  40.,  79.,  16.,  60.,  72.,  87.,
        36.,  37.,   5.,  22.,  13.,  17.,  50.,  41.,   1.,  20.,  35.,
        75.,  31.,  84.,  88.,   2.,  89.,  93.,   3.,   4.,  95.,   0.,
        27.,  23.,  29.,  96.,  92.,  99.,  98., 100.,  54.,  51.,  55.,
        82.,  94.,  97.])

In [5]:
#Filling in missing values
columns = ['playoff', 'importance', 'total_rating']
df.loc[:, columns] = df[columns].fillna(0)

In [23]:
trimmed_df

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
16007,2018-09-06,2018,0,0,PHI,ATL,1646.786330,1600.640440,0.654710,0.345290,...,-32.858912,136.431103,158.594272,1629.856678,1556.389403,18,12,87.0,0.0,0.0
16008,2018-09-09,2018,0,0,NYG,JAX,1411.677494,1534.818404,0.417101,0.582899,...,124.427603,111.162591,166.162281,1427.525259,1555.247870,15,20,42.0,0.0,0.0
16009,2018-09-09,2018,0,0,MIA,TEN,1449.870530,1495.841219,0.527358,0.472642,...,-19.000441,153.825793,129.701103,1456.617958,1482.061166,27,20,35.0,0.0,0.0
16010,2018-09-09,2018,0,0,NO,TB,1584.490340,1469.481636,0.738119,0.261881,...,563.905841,252.781289,173.449140,1526.704307,1480.932517,40,48,49.0,0.0,0.0
16011,2018-09-09,2018,0,0,IND,CIN,1406.904376,1474.615256,0.496099,0.503901,...,200.194140,201.243109,130.835082,1417.558159,1495.882172,23,34,32.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2023-01-22,2022,0,d,BUF,CIN,1731.516093,1690.292481,0.648277,0.351723,...,303.726984,225.069808,230.466056,1675.570770,1690.152492,10,27,99.0,100.0,100.0
17375,2023-01-22,2022,0,d,SF,DAL,1708.971847,1640.135262,0.683613,0.316387,...,105.114287,109.133365,191.883277,1719.153115,1619.647034,19,12,98.0,100.0,99.0
17376,2023-01-29,2022,0,c,PHI,SF,1621.987292,1721.375447,0.450672,0.549328,...,56.917741,246.826740,103.911803,1645.507079,1693.213858,31,7,99.0,100.0,100.0
17377,2023-01-29,2022,0,c,KC,CIN,1735.804844,1729.668918,0.600966,0.399034,...,28.185998,280.177715,210.238050,1708.664922,1678.805820,23,20,100.0,100.0,100.0
17378,2023-02-12,2022,1,s,PHI,KC,1657.913193,1746.521889,0.375176,0.624824,...,411.098145,268.147365,293.269758,1633.804536,1720.367465,35,38,100.0,100.0,100.0

In [6]:
# Remove whitespaces to make tree later
columns_to_replace = ['qb1', 'qb2']

trimmed_df.loc[:, columns_to_replace] = trimmed_df[columns_to_replace].apply(lambda x: x.str.replace(' ', '_'))

C:\Users\garco\AppData\Local\Temp\ipykernel_17404\2475525681.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed_df.loc[:, columns_to_replace] = trimmed_df[columns_to_replace].apply(lambda x: x.str.replace(' ', '_'))

In [7]:
columns_to_drop = ['score1', 'score2','date']
X = trimmed_df.drop(columns=columns_to_drop)

In [8]:
y1=trimmed_df['score1'].copy()
y2=trimmed_df['score2'].copy()

In [9]:
X_encoded = pd.get_dummies(X, columns=['playoff',
                                       'team1',
                                       'team2',
                                       'qb1',
                                       'qb2'],
                          drop_first=True)        
X_encoded.head()

,season,neutral,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,qbelo1_pre,qbelo2_pre,...,qb2_Tony_Romo,qb2_Trevor_Lawrence,qb2_Trevor_Siemian,qb2_Trey_Lance,qb2_Tua_Tagovailoa,qb2_Tyler_Huntley,qb2_Tyrod_Taylor,qb2_Will_Grier,qb2_Zach_Mettenberger,qb2_Zach_Wilson
14405,2012,0,1608.966,1483.525,0.749560,0.250440,1574.838,1517.653,1562.895367,1508.453094,...,1,0,0,0,0,0,0,0,0,0
14406,2012,0,1628.101,1420.251,0.827876,0.172124,1586.570,1461.783,1578.165978,1432.952145,...,0,0,0,0,0,0,0,0,0,0
14407,2012,0,1640.631,1588.458,0.662510,0.337490,1609.880,1619.210,1651.291446,1582.938479,...,0,0,0,0,0,0,0,0,0,0
14408,2012,0,1383.651,1473.735,0.463964,0.536036,1404.753,1452.632,1404.799886,1464.860035,...,0,0,0,0,0,0,0,0,0,0
14409,2012,0,1523.667,1352.541,0.795638,0.204362,1529.607,1346.600,1532.564969,1399.755316,...,0,0,0,0,0,0,0,0,0,0

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y1_train, y1_test, y2_train, y2_test = train_test_split(X_encoded, y1, y2, random_state=42, test_size=0.2)

In [24]:
!pip install xgboost

import xgboost as xgb
from sklearn.metrics import mean_squared_error

Requirement already satisfied: xgboost in c:\users\garco\anaconda3\lib\site-packages (1.7.6)
Requirement already satisfied: scipy in c:\users\garco\anaconda3\lib\site-packages (from xgboost) (1.10.0)
Requirement already satisfied: numpy in c:\users\garco\anaconda3\lib\site-packages (from xgboost) (1.23.5)

In [13]:
# Create and train the model for y1 scores with early stopping
model_y1 = xgb.XGBRegressor()
model_y1.fit(X_train,
            y1_train,
            verbose=True,
            early_stopping_rounds=10,
            eval_set=[(X_test, y1_test)]
        )

# Predict y1 scores
y1_prediction = model_y1.predict(X_test)

# Evaluate the model for y1 scores (using RMSE in this case)
rmse_y1 = mean_squared_error(y1_test, y1_prediction, squared=False)
print("RMSE for y1 scores:", rmse_y1)

# Create and train the model for y2 scores with early stopping
model_y2 = xgb.XGBRegressor()
model_y2.fit(X_train,
            y2_train,
            verbose=True,
            early_stopping_rounds=10,
            eval_set=[(X_test, y2_test)]
        )

# Predict y2 scores
y2_prediction = model_y2.predict(X_test)

# Evaluate the model for y2 scores (using RMSE in this case)
rmse_y2 = mean_squared_error(y2_test, y2_prediction, squared=False)
print("RMSE for y2 scores:", rmse_y2)

[0]	validation_0-rmse:18.50275
[1]	validation_0-rmse:14.01493
[2]	validation_0-rmse:11.10668
[3]	validation_0-rmse:9.35590
[4]	validation_0-rmse:8.27732
[5]	validation_0-rmse:7.69527
[6]	validation_0-rmse:7.37601
[7]	validation_0-rmse:7.25440
[8]	validation_0-rmse:7.15171

C:\Users\garco\anaconda3\lib\site-packages\xgboost\sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[9]	validation_0-rmse:7.13394
[10]	validation_0-rmse:7.07551
[11]	validation_0-rmse:7.04408
[12]	validation_0-rmse:7.05098
[13]	validation_0-rmse:7.04828
[14]	validation_0-rmse:7.04405
[15]	validation_0-rmse:7.02612
[16]	validation_0-rmse:7.00864
[17]	validation_0-rmse:6.98738
[18]	validation_0-rmse:6.96425
[19]	validation_0-rmse:6.99193
[20]	validation_0-rmse:7.00111
[21]	validation_0-rmse:6.96675
[22]	validation_0-rmse:6.98364
[23]	validation_0-rmse:6.97475
[24]	validation_0-rmse:6.98440
[25]	validation_0-rmse:6.98358
[26]	validation_0-rmse:6.98894
[27]	validation_0-rmse:6.98677
RMSE for y1 scores: 6.96424876113258
[0]	validation_0-rmse:16.98137
[1]	validation_0-rmse:12.97748
[2]	validation_0-rmse:10.40861
[3]	validation_0-rmse:8.80604
[4]	validation_0-rmse:7.93427
[5]	validation_0-rmse:7.38597
[6]	validation_0-rmse:7.10550
[7]	validation_0-rmse:6.97128
[8]	validation_0-rmse:6.83551

C:\Users\garco\anaconda3\lib\site-packages\xgboost\sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[9]	validation_0-rmse:6.77998
[10]	validation_0-rmse:6.75772
[11]	validation_0-rmse:6.74986
[12]	validation_0-rmse:6.74542
[13]	validation_0-rmse:6.74218
[14]	validation_0-rmse:6.71658
[15]	validation_0-rmse:6.72656
[16]	validation_0-rmse:6.69095
[17]	validation_0-rmse:6.68142
[18]	validation_0-rmse:6.70092
[19]	validation_0-rmse:6.67915
[20]	validation_0-rmse:6.66771
[21]	validation_0-rmse:6.68812
[22]	validation_0-rmse:6.69242
[23]	validation_0-rmse:6.70101
[24]	validation_0-rmse:6.70113
[25]	validation_0-rmse:6.70878
[26]	validation_0-rmse:6.71374
[27]	validation_0-rmse:6.75562
[28]	validation_0-rmse:6.74666
[29]	validation_0-rmse:6.73211
[30]	validation_0-rmse:6.72617
RMSE for y2 scores: 6.6677061730846265

In [54]:
#Tuning hyperparameters
from sklearn.model_selection import GridSearchCV

#Round1
# param_grid = {
#     'max_depth': [3, 4, 5],
#     'learning_rate': [0.1, 0.01, 0.05],
#     'gamma': [0, 0.25, 1.0],
#     'reg_lambda': [0.1, 1, 10],
#     'scale_pos_weight': [1, 3, 5]
# }
#Output: {'gamma': 0.25, 'learning_rate': 0.1, 'max_depth': 4, 'reg_lambda': 10, 'scale_pos_weight': 1}

#Round 2
param_grid = {
    'max_depth': [4,],
    'learning_rate': [0.1, 0.5, 1],
    'gamma': [0, 0.25],
    'reg_lambda': [10, 20, 100],
    'scale_pos_weight': [1]
}

grid_search = GridSearchCV(estimator=model_y1, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5)

# Perform grid search with cross-validation
grid_search.fit(X_train, y1_train)

# Get the best parameters and best estimator from the grid search
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Predict y1 scores
y1_prediction = best_model.predict(X_test)

# Evaluate the best model for y1 scores (using RMSE in this case)
rmse_y1 = mean_squared_error(y1_test, y1_prediction, squared=False)
print("Best RMSE for y1 scores:", rmse_y1)
print("Best hyperparameters:", best_params)

Best RMSE for y1 scores: 7.014946316537442
Best hyperparameters: {'gamma': 0.25, 'learning_rate': 0.1, 'max_depth': 4, 'reg_lambda': 10, 'scale_pos_weight': 1}

## Build Final Model

In [25]:
model_y1 = xgb.XGBRegressor(seed=42,
                           gamma=0.25,
                           learn_rate=0.1,
                           max_depth=4,
                           reg_lambda=10,
                           scale_pos_weight=1,
                           subsample=0.9,
                           colsample_bytree=0.5)
model_y1.fit(X_train,
            y1_train,
            verbose=True,
            early_stopping_rounds=10,
            eval_set=[(X_test, y1_test)]
        )
model_y2 = xgb.XGBRegressor(seed=42,
                           gamma=0.25,
                           learn_rate=0.1,
                           max_depth=4,
                           reg_lambda=10,
                           scale_pos_weight=1,
                           subsample=0.9,
                           colsample_bytree=0.5)
model_y2.fit(X_train,
            y2_train,
            verbose=True,
            early_stopping_rounds=10,
            eval_set=[(X_test, y2_test)]
        )

[10:06:40] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "learn_rate" } are not used.

[0]	validation_0-rmse:19.32499
[1]	validation_0-rmse:15.24420
[2]	validation_0-rmse:12.20804
[3]	validation_0-rmse:10.58914
[4]	validation_0-rmse:9.61526
[5]	validation_0-rmse:9.02497
[6]	validation_0-rmse:8.68148
[7]	validation_0-rmse:8.43430
[8]	validation_0-rmse:8.06155
[9]	validation_0-rmse:7.83547
[10]	validation_0-rmse:7.77078
[11]	validation_0-rmse:7.73651
[12]	validation_0-rmse:7.69128
[13]	validation_0-rmse:7.60515
[14]	validation_0-rmse:7.59072
[15]	validation_0-rmse:7.54328
[16]	validation_0-rmse:7.52169
[17]	validation_0-rmse:7.52532
[18]	validation_0-rmse:7.49287
[19]	validation_0-rmse:7.42321
[20]	validation_0-rmse:7.37677
[21]	validation_0-rmse:7.36924
[22]	validation_0-rmse:7.34965
[23]	validation_0-rmse:7.36229
[24]	validation_0-rmse:7.33996
[25]	validation_0-rmse:7.32051
[26]	validation_0-rmse:7.28914
[27]	validation_0-rmse:7.27843
[28]	validation_0-rmse:7.27340
[29]	validation_0-rmse:7.27016
[30]	validation_0-rmse:7.24040
[31]	validation_0-rmse:7.24185
[32]	validation_0-rmse:7.22921
[33]	validation_0-rmse:7.23874
[34]	validation_0-rmse:7.22966
[35]	validation_0-rmse:7.23344
[36]	validation_0-rmse:7.22346
[37]	validation_0-rmse:7.22420
[38]	validation_0-rmse:7.23028
[39]	validation_0-rmse:7.22663
[40]	validation_0-rmse:7.24338
[41]	validation_0-rmse:7.24293
[42]	validation_0-rmse:7.24091
[43]	validation_0-rmse:7.23630
[44]	validation_0-rmse:7.23252
[45]	validation_0-rmse:7.23086
[46]	validation_0-rmse:7.24754
[10:06:41] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "learn_rate" } are not used.

[0]	validation_0-rmse:18.30162
[1]	validation_0-rmse:14.67308
[2]	validation_0-rmse:12.26524
[3]	validation_0-rmse:10.88840
[4]	validation_0-rmse:9.98459
[5]	validation_0-rmse:8.94790
[6]	validation_0-rmse:8.53240
[7]	validation_0-rmse:8.03370
[8]	validation_0-rmse:7.91813
[9]	validation_0-rmse:7.77649
[10]	validation_0-rmse:7.54894
[11]	validation_0-rmse:7.39959
[12]	validation_0-rmse:7.32396
[13]	validation_0-rmse:7.27035
[14]	validation_0-rmse:7.24614
[15]	validation_0-rmse:7.21981
[16]	validation_0-rmse:7.16816
[17]	validation_0-rmse:7.13742
[18]	validation_0-rmse:7.13213
[19]	validation_0-rmse:7.11866
[20]	validation_0-rmse:7.10437
[21]	validation_0-rmse:7.09485
[22]	validation_0-rmse:7.10055
[23]	validation_0-rmse:7.09421
[24]	validation_0-rmse:7.07703
[25]	validation_0-rmse:7.08174
[26]	validation_0-rmse:7.07363
[27]	validation_0-rmse:7.05773
[28]	validation_0-rmse:7.06729
[29]	validation_0-rmse:7.06023
[30]	validation_0-rmse:7.04606
[31]	validation_0-rmse:7.04848
[32]	validation_0-rmse:7.05560
[33]	validation_0-rmse:7.04523
[34]	validation_0-rmse:7.06381
[35]	validation_0-rmse:7.06560
[36]	validation_0-rmse:7.05513
[37]	validation_0-rmse:7.06288
[38]	validation_0-rmse:7.04884
[39]	validation_0-rmse:7.04944
[40]	validation_0-rmse:7.06208
[41]	validation_0-rmse:7.07676
[42]	validation_0-rmse:7.08746

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.5, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0.25, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learn_rate=0.1, learning_rate=None,
             max_bin=None, max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=4, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, ...)